.heading{
    width: auto;
    color: #181B59;

    /* Body/Reg L */
    font-family: Nunito Sans Semibold;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem; /* 133.333% */   
    text-align: center;
    //justify-content: center;
}
.tableInfo{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    justify-content: center;
}