#user{
    width: 2.3625rem;
    height: 2.3625rem;
    content: url('../../assets/icons/user.svg'); 
}
#close{
    width: 3.75rem;
    height: 3.75rem;
    content: url('../../assets/icons/close.svg');
}