.auth-container{

    width: 36.875rem;
    height: 44.25rem;
    margin-left: auto;
    margin-right: auto;
    padding-top: 4px;
    background: #FFFFFF;
    border-radius: 20px;
}
.header-container{
    width: 100%;
    height: 3rem;
    background: #181B59;;

}
.home-panel-container{
    width: 100%;
    height: 110vh;
    background: #D8D9F2;
}
.nuevo-paciente-container{
    margin-top: 4rem;
}