.auth-background{
    height: auto;
    min-height: 100vh;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,121,86,0.9780287114845938) 51%, rgba(0,212,255,1) 100%);
    background-size: cover;
}