.icon{
    margin-left: 26rem;
}
.title{
    margin-top: 0.5rem;
    font-family: Nunito Sans Bold;
    font-size: 2.8125rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: #181B59;
}
.message{
    width: auto;
    margin-top: 1.5rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.5rem;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */
    
    //display: flex;
    align-items: center;
    
    color: #0A0B26;  
}