<div class="password-recovery-container">
    <div class="row text-center">
        <label for="" class="title">¿Has olvidado tu contraseña?</label>
    </div>
    <div class="row text-center">
        <p class="message">Para recuperar tu contraseña enciaremos un correo a la dirección de tu cuenta. Siga las instrucciones y nos veremos pornto</p>
    </div>

    <div class="row">
        <div class="mb-3 email">
            <label for="exampleFormControlInput1" class="form-label">Email</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Introduzca su correo electrónico" (change)="validarEmail()" [(ngModel)]="email">
            <div *ngIf="emailValid"style="margin-left: 0rem;" >
                <label [style.color]="emailColor" for="">
                    Por favor ingrese un correo electrónico valido.
                </label>
                
            </div>
        </div>
    </div>

    <div class="row text-center">
        <div class="text-center">
            <button class="primaryButton">Enviar</button>
        </div>
        
    </div>
</div>
