table {
    width: 90%;
    margin-left: 2rem;
  }
  
  .mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
   // width: 25%;
   text-align: center;
  }
  .form-control{
    margin-left: 2rem;
    width: 25rem;
    height: 3.5rem;
    background: #F8F8F8;
    /* Grayscale/Gray_3 */
    border: 1px solid #D8D9F2;
    border-radius: 8px;
    //font-family: 'Inter Medium';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */
    
    display: flex;
    align-items: center;
    
    color: #0A0B26;  
    justify-content: center;
}
