<div class="nuevo-paciente-container">
    <div class="row">
        <div class="col-md-6">
            <app-cargar-avatar [avatarType]="this.avatarType"></app-cargar-avatar>
        </div>
        <div class="col-md-6">
            <div class="mb-3 email">
                <label for="nombrePaciente" class="form-label">Nombre</label>
                <input type="text" class="form-control" id="nombre Medicamento" placeholder="Introduzca el nombre del medicamento" [(ngModel)]="data.nombre">
            </div>
    

            <div class="mb-3 email">
                <label for="nombrePaciente" class="form-label">Cantidad</label>
                <input type="number" class="form-control" id="cantidad" placeholder="Introduzca la cantidad de unidades" (change)="setCantidad()" [(ngModel)]="data.cantidad">
                <div *ngIf="medicamentoValid"style="margin-left: 0rem;" >
                    <label [style.color]="medicamentoColor" for="">
                        Por favor ingrese cantidades mayores a 0.
                    </label>
                </div>
            </div>
    
            <div class="mb-3 email">
                <label for="nombrePaciente" class="form-label">Precio</label>
                <input type="number" class="form-control" id="nombre Paciente" placeholder="Introduzca el precio del medicamento" (change)="setPrecio()" [(ngModel)]="data.precio">
                <div *ngIf="montoMedicamentoValid"style="margin-left: 0rem;" >
                    <label [style.color]="montoMedicamentoColor" for="">
                        Por favor un precio mayor a 0.
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="text-center">
            <button class="primaryButton" (click)="updateMedicamento()"> Guardar</button>
        </div>
    </div>
</div>
