<div class="nuevo-paciente-container">
    <div class="row">
        <div class="col-md-6">
            <app-cargar-avatar [avatarType]="this.avatarType"></app-cargar-avatar>
        </div>
        <div class="col-md-6">
            <div class="mb-3 email">
                <label for="nombrePaciente" class="form-label">Nombre</label>
                <input type="text" class="form-control" id="nombre Paciente" placeholder="Introduzca el nombre del funcionario" [(ngModel)]="data.nombre">
            </div>
    
            <div class="mb-3 email">
                <label for="exampleFormControlTextarea1" class="form-label">Tipo de Personal</label>
                <select class="form-select" id="tipo" aria-label="nivel del paciente" (change)="setTipo()">
                    <option selected>Seleccione el área de trabajo</option>
                    <option *ngFor="let tipo of tipoPersonal"  value="{{tipo.idTipo}}">{{tipo.descripcion}}</option>
                </select>
            </div>
            <div class="mb-3 email">
                <label for="nombrePaciente" class="form-label">Email</label>
                <input type="text" class="form-control" id="nombre Paciente" placeholder="Introduzca el email del funcionario" (change)="validarEmail" [(ngModel)]="data.email">
                <div *ngIf="emailValid"style="margin-left: 0rem;" >
                    <label [style.color]="emailColor" for="">
                        Por favor ingrese un correo electrónico valido.
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="text-center">
            <button class="primaryButton" (click)="actualizarPersonal()"> Guardar</button>
        </div>
    </div>
</div>
