.logo{
    width: 10rem;
    height: 10rem;
}
.cover{
    width: 36.375rem;
    height: 10.375rem;
    margin-left: auto;
    margin-right: auto;
    //background: #F2F2F2;
    border-radius: 20px;
}

.email{
    margin-top: 0.38rem;
    margin-left: 95px;
    margin-right: 95px;
}
.code{
    margin-top: 1.5rem;
    margin-left: 95px;
    margin-right: 95px;
    //padding-bottom: 1.3125rem;
}
.primaryButton{
    margin-top: 2.38rem;
    margin-left: auto;
    margin-right: auto;
}

