.logo{
    width: 15rem;
    height: 15rem;
}
.cover{
    width: 36.375rem;
    height: 14.375rem;
    margin-left: auto;
    margin-right: auto;
    //background: #F2F2F2;
    border-radius: 20px;
}

.email{
    margin-top: 3.38rem;
    margin-left: 95px;
    margin-right: 95px;
}
.code{
    margin-top: 2.5rem;
    margin-left: 95px;
    margin-right: 95px;
    padding-bottom: 1.3125rem;
}
.primaryButton{
    margin-top: 3.38rem;
    margin-left: auto;
    margin-right: auto;
}